map-canvas {
  width: 100%;
  display: block;
  height: 70vh;
}


// ANIMATIONS
.map-loader {
  overflow: hidden;
  padding: 0;
  height: 0px;
  display: flex;
}

.map-loaded-add,
.map-loaded-remove {
  transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.map-loaded,
.map-loaded-add.map-loaded-add-active {
  height: inherit;
}

.map-loaded-remove.map-loaded-remove-active {
  // height: 600px;
  background: yellow;
}

// ENDIMATIONS
// REPORT DETAIL
.incident-example,
.map-report-detail,
.timeline-report-detail {
  h3 {
    display: inline-block;
  }
  background: @well-bg;
  height: 100vh;
  width: 100vw;
  #report-map {
    height: 30vh;
    width: 100%;
  }
  #street-view-detail {
    height: 30vh;
    width: 100%;
  }
}

// END REPORT DETAIL
md-menu-content {
  max-height: 60vh;
}

// @media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {
  .incident-example,
  .map-report-detail,
  .timeline-report-detail {
    #report-map {
      height: 80vh;
      width: 100%;
    }
    #street-view-detail {
      height: 80vh;
      width: 100%;
    }
  }
}
