#crime-reports-block {
  height: 40vh;
  width: 100%;
  svg {
    rect {
      cursor: pointer;
    }
  }
}

.report-type-detail {
  background: @well-bg;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

report-type-day {
  .report-days {
    display: inline-block;
    height: 18px;
    width: 18px;
  }
}

report-type-child {
  .report-types {
    display: inline-block;
  }
}

report-zone-beat {
  .report-zones,
  .zone-reports {
    display: inline-block;
  }
  .report-zones {
    margin-right: 3px;
    .zone-reports {
      color: #fff;
      padding: 2px;
      margin-right: 2px;
    }
  }
}

@media (min-width: @screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {}
