#crime-reports-block {
  display: block;
  height: 50vh;
  width: 100%;
  overflow: hidden;

  .loading-wrapper{
    height:100%;
    width: 100%;
    background: @body-bg;
    overflow: hidden;
  }
  .loading-wrapper.loaded {
    height: 0;
    width: 0;
    visibility: none;
  }
}

.block-label {
  font-size: @font-size-large;
  text-transform: lowercase;
  fill: @gray-light;
  stroke: @gray-light;
}


.report-type-detail {
  background: @well-bg;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  .btn-close {
    top: 12px;
    right: 12px;
    position: absolute;
  }
}

report-type-day {
  display: block;
  width: 100%;
}

.report-type {
  display: inline-block;
  overflow: hidden;
}

report-type-child {
  .report-types {
    display: inline-block;
  }
}

.report-zone-beat {
  display: block;
  width: 100%;
  .report-districts {
    display: inline-block;
    vertical-align: top;
    .report-zones {
      display: block;
      width: 100%;
      .badge {
        color: #fff;
        width: 100%;
      }
    }
  }
}

@media (min-width: @screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {}
