.timeline-report-detail-panel {
  background: @body-bg;
  height: 100vh;
  width: 100vw;

  h3 {
    display: inline-block;
  }

  #street-view-detail {
    height: 70vh;
    width: 100%;
  }
}

seattle-crime-plotted {
  overflow: hidden;

  crime-plot-svg,
  .crime-plot-svg {
    display: block;
    height: 90vh;
  }

  crime-plot-menu {
    .filter-list {
      vertical-align: top;
      margin: 0;
      list-style: none;
      padding: @padding-small-vertical @padding-small-horizontal;
      display: inline-block;
      width: 100%;
      md-checkbox {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

seattle-crime-plotted.loading {
  height: 0
}
