<div class="map-canvas"></div>
<span class="glyphicon glyphicon-filter"></span>
<md-button ng-click="filterApply($event)" ng-disabled="!updated">Apply</md-button>
<md-button ng-click="filterReset($event)" ng-disabled="reportFilter.length === 0" md-prevent-menu-close>Reset Filter</md-button>
<md-button ng-click="mapRefresh($event)" md-prevent-menu-close>Map Remove Data</md-button>
<md-datepicker ng-model="startDate" md-min-date="dateRange[0]" md-max-date="dateRange[1]" md-placeholder="Start date"></md-datepicker>
<md-datepicker ng-model="endDate" md-placeholder="End date"></md-datepicker>
<ul class="list-unstyled">
  <li>
    <md-button ng-click="filterToggleType($event)" ng-repeat="(key, val) in $index" ng-class="{
    'md-primary' : reportFilter.indexOf(val.key) > -1}
    ">
      <span class="badge" style="background-color: {{val.fillColor}};">&nbsp;</span> {{val.key}} ({{val.values.length}})
    </md-button>
  </li>
</ul>
