<form ng-show="indexOffType">
  <!-- FILTER DATE -->
  <div class="form-group">
    <label>Date Range</label><br>
    <md-datepicker ng-model="filters.startDate" md-min-date="dateRange[0]" md-max-date="filters.endDate" md-placeholder="Start date" ng-click="dateChange($event)"></md-datepicker>
    <md-datepicker ng-model="filters.endDate" md-min-date="filters.startDate" md-max-date="dateRange[1]" md-placeholder="End date" ng-click="dateChange($event)"></md-datepicker>
  </div>
  <!-- // FILTER DATE -->
  <!-- FILTER TYPE -->
  <div class="form-group">
    <label>Report Types</label><br>
    <md-checkbox ng-repeat="offType in indexOffType | orderBy:'offType.values.length'" aria-label="" ng-checked="true" ng-model="offType.filtered" ng-change="applyShow()">
      <span class="badge" ng-hide="filters.reportFilter.indexOf(offType.key) !== -1" style="background-color: {{colorScaleOff(offType.key)}};">&nbsp;</span> {{offType.key}} ({{offType.values.length}})
    </md-checkbox>
  </div>
  <!-- // FILTER TYPE -->
  <div class="btn-group">
    <button class="btn btn-default" ng-click="filterAll()" aria-label="Filter All">Filter All</button>
    <button class="btn btn-default" ng-click="filterNone()" aria-label="Show All">Show All</button>
  </div>
  <ul></ul>
  <button class="btn btn-default" ng-click="filterApply($event)" ng-show="_apply" aria-labvel="Apply">Apply</button>
</form>
