<li>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <button type="button" ng-class="updated ? 'btn btn-primary' : 'btn btn-default'" ng-click="filterApply($event)">Apply</button>
    <button type="button" class="btn btn-default" ng-click="filterReset($event)" ng-show="mapIndexFilter().length > 0">Reset</button>
    <button type="button" class="btn btn-default" ng-click="filterClear($event)" ng-hide="$indexLength() === mapIndexFilter().length">Clear All</button>
  </div>
</li>
<li id="type-filter">
  <form id="crime-reports-block" id="crime-map-filter">
    <div class="radio" ng-repeat="(key, val) in $index | orderObjectBy : 'count' : true">
      <label ng-click="filterPushSplice($event)">
        <input type="checkbox" ng-checked="val.show"> {{val.offenseCategory}} <span class="badge" style="background-color: {{val.fillColor}};">&nbsp;</span>
      </label>
    </div>
  </form>
</li>
