<md-menu class="crime-map-filter">
  <md-button aria-label="Filter crime data" class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <span class="glyphicon glyphicon-filter"></span>
  </md-button>
  <md-menu-content width="12">
    <md-menu-item>
      <md-button ng-click="filterData(reportFilter)">Apply</button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="filterReset($event)" ng-disabled="reportFilter.length === 0" md-prevent-menu-close>Reset</button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="filterAll($event)" ng-disabled="reportFilter === []" md-prevent-menu-close>Clear All</button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
    <md-menu-item ng-repeat="(key, val) in $index">
      <md-button ng-click="filterToggleType($event)" ng-class="{'md-primary' : reportFilter.indexOf(val.key) === -1}" md-prevent-menu-close>
        <span class="badge" style="background-color: {{val.fillColor}};">&nbsp;</span> {{val.key}} ({{val.values.length}})
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
<div class="crime-report-timeline"></div>
