<div layout="column" layout-wrap layout-padding>
  <div flex="100">
    <h3>{{incidentDetail.summarized_offense_description}}</h3>
    <button type="button" class="btn btn-primary pull-right" ng-click="closeDetail()" aria-lable="Close Detail">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>
<div layout="row" layout-wrap layout-padding>
  <!-- TABLE -->
  <div flex-gt-sm="25" flex="100">
    <ul class="list-unstyled">
      <li>Date Reported: {{incidentDetail.date_reported | date:'medium'}}</li>
      <li>Address: {{incidentDetail.hundred_block_location}}</li>
      <li>District Sector: {{incidentDetail.district_sector}}</li>
      <li>Census Tract: {{incidentDetail.census_tract_2000}}</li>
      <li>General Offense Number: {{incidentDetail.general_offense_number}}</li>
      <li>Offense Type: {{incidentDetail.offense_type}}</li>
      <li>Offense Code: {{incidentDetail.offense_code}}</li>
      <li>Zone/Beat: {{incidentDetail.zone_beat}}</li>
    </ul>
  </div>
  <!-- // TABLE -->
  <!-- STREET VIEW -->
  <div flex-gt-sm="70" flex="100">
    <div id="street-view-detail"></div>
  </div>
  <!-- // STREET VIEW -->
</div>