<md-datepicker ng-model="startDate" md-min-date="dateRange[0]" md-max-date="endDate" md-placeholder="Start date" ng-click="dateChange($event)"></md-datepicker>
<md-datepicker ng-model="endDate" md-min-date="startDate" md-max-date="dateRange[1]" md-placeholder="End date" ng-click="dateChange($event)"></md-datepicker>
<ul class="list-unstyled">
  <li>
    <md-button ng-click="filterToggleType($event)" ng-repeat="(key, val) in indexOffType" ng-class="{
    'md-primary' : reportFilter.indexOf(val.key) > -1}
    ">
      <span class="badge" style="background-color: {{colorScaleOff(val.key)}};">&nbsp;</span> {{val.key}} ({{val.values.length}})
    </md-button>
  </li>
</ul>
<md-button ng-click="filterApply($event)" ng-show="showApply">Apply</md-button>
<div class="map-canvas"></div>
