<ul>
  <li ng-repeat="key in keys">{{key}}</li>
</ul>
<button type="button" class="btn btn-primary" ng-click="closeDialog()" aria-lable="Close Detail">
  <span class="glyphicon glyphicon-remove"></span>
</button>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>Date Reported</td>
        <td>Address</td>
        <td>District Sector</td>
        <td>Census Tract</td>
        <td>General Offense Number</td>
        <td>Offense Type</td>
        <td>Offense Code</td>
        <td>Description</td>
        <td>Zone/Beat</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{report.date_reported | date:'medium'}}</td>
        <td>{{report.hundred_block_location}}</td>
        <td>{{report.district_sector}}</td>
        <td>{{report.census_tract_2000}}</td>
        <td>{{report.general_offense_number}}</td>
        <td>{{report.offense_type}}</td>
        <td>{{report.offense_code}}</td>
        <td>{{report.summarized_offense_description}}</td>
        <td>{{report.zone_beat}}</td>
      </tr>
    </tbody>
  </table>
</div>
